@use '../../styles/base';

.searchArea {
  width: 100%;
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 40px;
}
.searchBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;

  input {
    width: calc(80% - 2px);
    padding: 10px;
    border: 0 none;
    background-color: base.$text;
    outline: none;
    transition: 0.3s background-color ease;

    &:focus {
      background-color: base.$lightestGray;
    }
    &:hover {
      background-color: base.$lightGray;
    }
  }
  button {
    cursor: pointer;
    width: 20%;
    padding: 10px 2px;
    border: 0 none;
    background-color: base.$text;
    transition: 0.3s background-color ease;

    &:hover {
      background-color: base.$lightGray;
    }
  }
  .cancelSearch {
    position: absolute;
    top: 50%;
    right: calc(20% + 2px);
    transform: translateY(-50%);
    border: 0 none;
    background: transparent;
    width: 35px;
    height: 35px;
    font-size: 25px;
    padding: 0;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 16px;
      left: 5px;
      width: 25px;
      height: 2px;
      background: base.$dark;
      transform-origin: center;
      transform: rotateZ(45deg);
    }
    &:after {
      transform: rotateZ(-45deg);
    }
  }
}
.searchResults {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  background: base.$text;
  color: base.$dark;
  z-index: 999;
  max-height: 500px;
  overflow-y: auto;

  a {
    display: block;
    color: base.$dark;
    padding: 10px;

    &:hover {
      background: rgba(base.$dark, 0.15);
    }
  }
}